.content-form {
  padding-top: 42px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  .title-form {
    .label {
      font-size: 18px;
    }
  }
}

.form-inputs {
  & .fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.container {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.input-group {
  text-align: center;
}

.label {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group:hover .label,
.input-group:focus-within .label {
  color: var(--brand);
}

input[type="text"] {
  width: 5.375rem;
  height: 3.5rem;
  text-align: center;
  font: var(--display-small);
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: var(--background-secondary);
  color: white;
  transition: border 0.4s ease, background 0.4s ease;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input[type="text"]:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(#24222E, #24222E), var(--gradient-border);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid transparent;
  background-image: linear-gradient(#24222E, #24222E), var(--gradient-border);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

form button {
  /* margin-top: 2.5rem;

  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
  border-radius: 0.5rem;

  background-color: var(--background-tertiary);
  color: #FFFFFF;
  font: var(--label-small); */


}

form button:hover {
  /* border-image: var(--gradient-border); */
}

@media (min-width: 992px) {

  .container {
    margin: inherit;
  }

  .content-form {
    padding-top: 42px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    .title-form {
      .label {
        font: var(--label-medium);
      }
      .p-medium {
        font: var(--paragraph-large);
      }
    }

  }
}