.logo {
  display: block;
  margin: 0 auto;
}

.overline {
  /* width: 100%; */
  font: var(--overline);
  background: var(--gradient-content);
  text-transform: uppercase;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1 {
  font: var(--display-medium);
  color: var(--content-primary);
  text-transform: uppercase;
}

.label {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
}

.p-medium {
  font: var(--paragraph-medium);
}

.p-small {
  font: var(--paragraph-small);
}

.only-desktop {
  display: none;
}



/* Tablets and small devices */
@media (min-width: 992px) {
  .logo {
    margin: 0;
  }

  .h1 {
    font: var(--display-large);
  }

  .p-medium {
    font: var(--paragraph-large);
  }

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: inherit;
  }

  .flex {
    display: flex;
  }

  .width-508 {
    max-width: 508px;
  }

  .width-616 {
    max-width: 616px;
  }
}